.lead{
	text-align: center;
}
.navbar-brand{
   font-size: 150px

}

.footer{
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #559ABC;
  color: #000F16;
  padding: 10px 10px 0px 30px;
}

.footer2{
  position: fixed;
  bottom: 0px;
  width: 100%;
  background-color: #559ABC;
  color: #000F16;
  padding: 10px 10px 0px 30px;
}
#h1 display{
text-align: center;

}
.bg-color {
    background-color: black;
}
.spacing{

  padding-top: 20px;
}

.home-wrapper {
    background-image: url("../images/imagebanner.jpg");
    height: 600px;
    color: white;
    font-weight: bold;
    text-align: center;
}
.center-align {
    text-align: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
.text-white {
    color: #fff!important;
}
#row1{

	margin-bottom: 30px;
}

.content{

	background: #fff;
}

.hideContent {
    overflow: hidden;
    line-height: 2em;
    height: 20em;
}


.read-more {
  border: 1px solid #000;
  padding: 15px;
  margin-bottom: 20px;
}

.read-more-link, .show-less-link{
    text-decoration: none;
    font-weight: bolder;
    color: green;

}
 a:hover{

	text-decoration: none;
	color: red;
}

.position{

  padding: 10px 10px 10px 10px;
  margin: auto;
  padding: 10px;
   border: 3px solid green;
}
.btn btn-primary{

	padding: 10px 10px 10px 10px;
}

}
.loginform{
 padding-top: 20px;


}
.container{
  
}
.center{

  margin: auto;
}