<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="css/designs.css">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
			<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
          <a class="navbar-brand" href="HomePage.html">MoreRecipe</a>
        </li>
          

        </ul>
        <ul>
      <a class="btn btn-primary" href="loginPage.html" role="button">Login</a>
      <a class="btn btn-primary" href="signupPage.html" role="button">SignUp</a>
    </ul>
        
     
      </div>
        
</nav>
		


    </div>
		<div class="container">
				<form>
					<div class="col-sm-9">
					<div class="position">
			    <button type="button" class="btn btn-primary btn-lg btn-block" data-toggle="modal" data-target="#myModal">
				  Add Receipe
				</button><p>
				
				<div class="form-group row">
      <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">Name</label>
      <div class="col-sm-8">
        <input type="text" class="form-control form-control-lg" id="lgFormGroupInput">
      </div>
    </div>
      <div class="form-group row">
      <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">Ingredients</label>
      <div class="col-sm-8">
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
    </div>
    <div class="form-group row">
      <label for="smFormGroupInput" class="col-sm-2 col-form-label col-form-label-lg">Directions</label>
      <div class="col-sm-8">
        <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
      </div>
    </div>
	<div>		
  <button type="submit" class="btn btn-primary">Submit</button>
     </div>	
			</form>
	</div>
	</div>
</div>


<div class="d-flex flex-row align-self-end footer">
        <footer class="footer2">
          <p>Designed by: Sophie &nbsp;&nbsp;&nbsp; &copy 2017</p>
        </footer>
      </div>
    </div>
	</form>
	<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
    <script type="text/javascript" src="js/designs.js"></script>
</body>
</html>