<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
	<meta http-equiv="x-ua-compatible" content="ie=edge">
	<link rel="stylesheet" type="text/css" href="css/designs.css">
	
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
</head>
<body>
			<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  

		  <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
          <a class="navbar-brand" href="HomePage.html">MoreRecipe</a>
        </li>
          

        </ul>
        <ul>
      <a class="btn btn-primary" href="loginPage.html" role="button">Login</a>
      <a class="btn btn-primary" href="signupPage.html" role="button">SignUp</a>
    </ul>
        
     
      </div>
        
</nav>
              <!-- Button trigger modal -->

				<div class="searchView">
				<form class="form-inline">
					<div class="position">
			    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
				  MoreRecipe Catalog
				</button>
				<input class="form-control" type="text" placeholder="Search">
				<button class="btn btn-primary" type="submit">Search</button>
			</form>
		</div>
	</div>
	</div>

				<!-- Modal -->
				<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
				  <div class="modal-dialog" role="document">
				    <div class="modal-content">
				      <div class="modal-header">
				        <h5 class="modal-title" id="exampleModalLabel">Welcome To MoreRecipe Catalog</h5>

						  

				        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
				          <span aria-hidden="true">&times;</span>
				        </button>
				      </div>
				      <div class="modal-body">


                            <div class="row">
			             	<div class="col">
                               <p><u>Meal Type</u></p>
						          <ul>
						            <li><a href="Appetizers & Snacks.html">Appetizers & Snack</a></li>
						            <li><a href="Breakfast & Brunch">Breakfast & Brunch</a></li>
						            <li>Desserts </li>
						            <li>Dinner</li>
						            <li>Drinks</li>
						          </ul>
			                </div>
			             	<div class="col">
			             		<p><u>Ingredients </u></p>
						            <ul>
						              <li>Beef</li>
						              <li>Chicken</li>
						              <li>Pasta</li>
						              <li>Pork</li>
						              <li>Salmon</li>
						            </ul>
			             	</div>
			             	<div class="col">
                              <p><u>Dish Type</u></p>
						            <ul>
						              <li>Breads</li>
						              <li>Cakes</li>
						              <li>Salads</li>
						              <li>Smoothie</li>
						              <li>Soup,stew& Chilli</li>
						            </ul>
						        </div>
						    </div>
						    <div class="row">
			             	<div class="col">
                               <p><u>Cooking Style</u></p>
						            <ul>
						              <li><a>Quick & Easy</a></li>
						              <li><a>slow cooker</a></li>
						              <li><a>Vegetarian Dish</a></li>
						              <li><a>BBQ & Grilling</a></li>
						            </ul>
							  </div>
							  <div class="col">
			             		<p><u>Seasonal</u></p>
						            <ul>
						              <li><a>Back to school</a></li>
						              <li><a>slow cooker</a></li>
						              <li><a>Vegetarian Dish</a></li>
						              <li><a>BBQ & Grilling</a></li>
						              <li><a>Holloween</a></li>
						            </ul>
          
			             	</div>
			             	<div class="col">
			             		<p><u>Special African Dish</u></p>
						            <ul>
						              <li><a>Ewedu Soup</a></li>
						              <li><a>Oha Soup</a></li>
						              <li><a>Ofe Owerri</a></li>
						              <li><a>Nsala Soup(White soup)</a></li>
						              <li><a>Afang soup</a></li>
						              <li><a>Pepper soup</a></li>
						              <li><a>Ofada stew</a></li>
						            </ul>
			             	</div>
			             	
			             	</div>

				    
				      </div>
				      <div class="modal-footer">
				        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
				        <button type="button" class="btn btn-primary">Save changes</button>

				      </div>
				    </div>
				  </div>
				</div>
				<div class="jumbotron">
					<h1 class="display-3">Welcome To The Home Of MoreRecipe</h1>
					<p class="lead"><i>Where all your dream recipe dwells</i></p>
					<hr class="m-y-2">
					
					<p class="lead">
						<a class="btn btn-primary btn-lg" href="favorites.html" role="button">View Favorites</a>
					</p>
				</div>
				<div class="container-fluid bottom-padding">
			      <div class="row card-spacing">
			        <div class="col-md-4">
			          <div class="card">
			              <img class="card-img-top center" src="images/AboutUs.jpg" width="100%" height="150px">
			              <div class="card-body">
			                <h4 class="card-title">Mission</h4>
			                <p class="card-text">To bring to your door step all recipe from around the world</p>
			              </div>
			          </div>
			        </div>
			        <div class="col-md-4">
			          <div class="card">
			              <img class="card-img-top center" src="images/getting started.png" width="100%" height="150px">
			              <div class="card-body">
			                <h4 class="card-title">Get Started</h4>
			                <p class="card-text">to get started properly, you need to create an account <a href="#">Here</a></p>
			              </div>
			          </div>
			        </div>
			        <div class="col-md-4">
			          <div class="card">
			              <img class="card-img-top center" src="images/catalog.jpg" width="100%" height="150px">
			              <div class="card-body">
			                <h4 class="card-title">Recipe Catalog <h6><a>view more</a></h6></h4>
			                <p class="card-text">View All round recipes aroung the world here</p>
			              </div>
			          </div>
			        </div>
			      </div>
			      <div class="row card-spacing">
			          <div class="col-md-4">
			            <div class="card">
			                <img class="card-img-top center" src="images/intercontinental.jpg" width="100%" height="150px">
			                <div class="card-body">
			                  <h4 class="card-title">Intercontinental Dishes</h4>
			                  <p class="card-text"></p>
			                </div>
			            </div>
			          </div>
			          <div class="col-md-4">
			            <div class="card">
			                <img class="card-img-top center" src="images/African Dish.jpg" width="100%" height="150px">
			                <div class="card-body">
			                  <h4 class="card-title">Image of Carribean Food</h4>
			                  <p class="card-text"></p>
			                </div>
			            </div>
			          </div>
			          <div class="col-md-4">
			            <div class="card">
			                <img class="card-img-top center" src="images/carribean.jpg" width="100%" height="150px">
			                <div class="card-body">
			                  <h4 class="card-title">Carribeans favourite meal</h4>
			                  <p class="card-text"></p>
			                </div>
			            </div>
			          </div>
			        </div>
			    </div>
			   <div>
			      <div class="d-flex flex-row align-self-end footer">
			        <footer class="footer1">
			          <p>Designed by: Sophie &nbsp;&nbsp;&nbsp; &copy 2017</p>
			        </footer>
			      </div>
			    </div>
				</form>
				<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
			    <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
			    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
			    <script type="text/javascript" src="js/designs.js"></script>
			</body>
			</html>