<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="css/designs.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body class= "bg-img">
  <nav class="navbar navbar-toggleable-md navbar-light bg-faded">
    <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse " id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="navbar-brand" href="HomePage.html"><img src="images/capture.jpg"></a>
        </li>
        </ul>
        
      </div>
  </nav>
  <div>
      <div class="container left-border spacing">
        <div class="row">
          <div class= col-4>
          </div> 
          <div class = "col-2">
          </div>

          <div class= col-6>
            <h3>Login</h3><br>
            <form class="form-horizontal form1" role="form">
              <div class="form-group">
                <label class="col-lg-3 control-label">Email Address:</label>
                <div class="col-lg-8">
                  <input class="form-control" type="text" value="">
                      </div>
                    </div>
                    <div class="form-group">
                      <label class="col-lg-6 control-label">New Password:</label>
                      <div class="col-lg-8">
                          <input class="form-control" type="text" value="">
                      </div>
                    </div>
                    
                    <div class="form-group row">
                    <div class="offset-sm-2 col-sm-10">
                      <button type="submit" class="btn btn-success"><a href= "AuthenticatedUsersPage.html">Login</a></button>
                    </div>
                  </div>
            </form>
          </div>
          </div>
        </div>
        <hr>
          <footer class="bg-color footer2">
            <div class="container">
                <div class="row">
                  <div class="col text-center text-white">
                      <p>Designed by: Sophie &nbsp;&nbsp;&nbsp; © 2017</p>
                    </div>
                  </div>
                </div>
            </footer>

        <script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
          <script type="text/javascript" src="js/designs.js"></script>

          
      </body>
    </html>

