	<!DOCTYPE html>
	<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=no">
		<meta http-equiv="x-ua-compatible" content="ie=edge">
		<link rel="stylesheet" type="text/css" href="css/designs.css">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	</head>
	<body>
	<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
		<button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item">
					<a class="navbar-brand" href="HomePage.html">MoreRecipe</a>
				</li>
	    	</ul>
	        <ul>
	        	<a class="btn btn-primary" href="loginPage.html" role="button">Login</a>
	            <a class="btn btn-primary" href="signupPage.html" role="button">SignUp</a>
	        </ul>
	    </div>
	</nav>
	<div class="jumbotron jumbotron-fluid">
		<div class="container">
			<h1 class="display-3">Welcome To The Home Of MoreRecipe</h1>
			<p class="lead"><i>Where the desires of a woman can be obtained for her home</i></p>
		
	    </div>
	    <div class="row">
	    	<div class="col-md-4">
	    	</div>
	    	<div class="col-md-4">
	    		<form>
	    			<div class= "input-group">
	    				<span class= "input-group-addon">
	    					<i class="fa fa-search fa-lg fa-fw" aria-hidden="true"></i>
	    				</span>
	    				<input type="text" class="form-control" placeholder="Enter search input" aria-label="">
	    				<span class="input-group-btn">
			        		<button class="btn btn-secondary" type="button">Search</button>
			    		</span>
					</div>
					
				</form>
			</div>
		</div>
	</div>
	<section id="top-recipes">
		<div>
		  <h3 class="center-align"> MoreRecipe Catalog</h3>
		</div>
		<div class="container">
		  		<div class="row">
		    		<div class="col-sm-6">
		    			<div class="card">
		    				<img class="img-fluid" src="images/African Dish.jpg" alt="Card image cap" width="537.5">
		    				<div class="card-block">
		    					<h3 class="card-title">Special title treatment</h3>
		    					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		    					<a href="#" class="btn btn-primary">Go somewhere</a>
		    				</div>
		    				<div class="card-footer">
		    					<small class="text-muted">Last updated 3 mins ago</small>
		    					<p><a class="btn-floating">
		    						<i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>158</strong>
							      	<i class="fa fa-thumbs-o-down fa-lg fa-fw" aria-hidden="true"></i><strong>28</strong>
							      	<i class="fa fa-commenting-o" aria-hidden="true"></i><strong>15</strong>
							      </a>
      							</p>
		    				</div>
	    				</div>
	  				</div>
	  				<div class="col-sm-6">
	  					<div class="card">
	  						<img class="img-fluid" src="images/intercontinental.jpg" alt="Card image cap" width="537.5">
	  						<div class="card-block">
	  							<h3 class="card-title">Special title treatment</h3>
	  							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	  							<a href="#" class="btn btn-primary mt-3">Go somewhere</a>
	  						</div>
	  						<div class="card-footer">
	  							<small class="text-muted">Last updated 3 mins ago</small>
	  							<p><a class="btn-floating">
							      	<i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>158</strong>
							      	<i class="fa fa-thumbs-o-down fa-lg fa-fw" aria-hidden="true"></i><strong>28</strong>
							      	<i class="fa fa-commenting-o" aria-hidden="true"></i><strong>15</strong>
							      </a>
      							</p>
	  						</div>
	  					</div>
	  				</div>
	  				<div class="container">
		  				<div class="row">
		    				<div class="col-sm-6">
		    					<div class="card">
		    						<img class="img-fluid" src="images/African Dish.jpg" alt="Card image cap" width="537.5">
		    						<div class="card-block">
	    								<h3 class="card-title">Special title treatment</h3>
	    								<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	    								<a href="#" class="btn btn-primary">Go somewhere</a>
		    						</div>
		    						<div class="card-footer">
		    							<small class="text-muted">Last updated 3 mins ago</small>
		    							<p><a class="btn-floating">
		    								<i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>158</strong>
									      	<i class="fa fa-thumbs-o-down fa-lg fa-fw" aria-hidden="true"></i><strong>28</strong>
									      	<i class="fa fa-commenting-o" aria-hidden="true"></i><strong>15</strong>
									      </a>
									  </p>
		    						</div>
	    						</div>
	  						</div>
	  						<div class="col-sm-6">
	  							<div class="card">
	  								<img class="img-fluid" src="images/intercontinental.jpg" alt="Card image cap" width="537.5">
	  								<div class="card-block">
	  									<h3 class="card-title">Special title treatment</h3>
	  									<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	  									<a href="#" class="btn btn-primary mt-3">Go somewhere</a>
	  								</div>
	  								<div class="card-footer">
	  									<small class="text-muted">Last updated 3 mins ago</small>
	  									<p><a class="btn-floating">
									      	<i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>158</strong>
									      	<i class="fa fa-thumbs-o-down fa-lg fa-fw" aria-hidden="true"></i><strong>28</strong>
									      	<i class="fa fa-commenting-o" aria-hidden="true"></i><strong>15</strong>
							      			</a>
      									</p>
	  								</div>
	  							</div>
	  						</div>
	  					</div>
	  				</div>
	  			</div>
	  			
				<div class="container">
		  		<div class="row">
		    		<div class="col-sm-6">
		    			<div class="card">
		    				<img class="card-img-top" src="images/African Dish.jpg" alt="Card image cap">
		    				<div class="card-block">
		    					<h3 class="card-title">Special title treatment</h3>
		    					<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
		    					<a href="#" class="btn btn-primary">Go somewhere</a>
		    				</div>
		    				<div class="card-footer">
		    					<small class="text-muted">Last updated 3 mins ago</small>
		    					<p><a class="btn-floating">
							      	<i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>158</strong>
							      	<i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>28</strong>
							      	<i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>15</strong>
							      </a>
      							</p>
		    				</div>
	    				</div>
	  				</div>
	  				<div class="col-sm-6">
	  					<div class="card">
	  						<img class="card-img-top" src="images/intercontinental.jpg" alt="Card image cap">
	  						<div class="card-block">
	  							<h3 class="card-title">Special title treatment</h3>
	  							<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
	  							<a href="#" class="btn btn-primary">Go somewhere</a>
	  						</div>
	  						<div class="card-footer">
	  							<small class="text-muted">Last updated 3 mins ago</small>
	  							<p><a class="btn-floating">
							      	<i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>158</strong>
							      	<i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>28</strong>
							      	<i class="fa fa-thumbs-o-up fa-lg fa-fw" aria-hidden="true"></i><strong>15</strong>
							      </a>
      							</p>
	  						</div>
	  					</div>
	  				</div>
	  			</div>
	  		</div>
	  	</div>
	  	<hr>
	  	<footer class="bg-color">
	  		<div class="container">
        		<div class="row">
        			<div class="col text-center text-white">
          				<p>Designed by: Sophie &nbsp;&nbsp;&nbsp; © 2017</p>
          			</div>
          		</div>
          	</div>
        </footer>

		<script src="https://code.jquery.com/jquery-3.1.1.slim.min.js" integrity="sha384-A7FZj7v+d/sdmMqp/nOQwliLvUsJfDHW+k9Omg/a/EheAdgtzNs3hpfag6Ed950n" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js" integrity="sha384-DztdAPBWPRXSA/3eYEEUWrWCy7G5KFbe8fFjk5JAIxUYHKkDx6Qin1DkWx51bBrb" crossorigin="anonymous"></script>
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
	    <script type="text/javascript" src="js/designs.js"></script>

	  	
	</body>
</html>
